:root {
    --darkest : #0d0d0d;
    --darker  : #333333;
    --dark    : #737373;
    --pink    : #ff3399;
    --purple  : #af06af;
    --white   : #ffffff;
    --red     : #ff3000;
    --green1  : #4bfa71;
    --green2  : #05661a;
    --yellow1 : rgb(247, 183, 89);
    --yellow2 : rgb(156, 90, 4);
}

* {
    margin: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 100;
}

#new-task-form {
    margin: 5rem;
}

body {
    background-color: var(--darker);
    color: var(--dark);
    display: flex;
    flex-direction: column;
}

input, button {
	appearance: none;
	border: none;
	outline: none; 
	background: none;
}

#new-task-input {
    width: 60%;
    padding: 1rem;
    flex: 1 1 0%;
    background-color: var(--darkest);
    border-radius: 10px;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500;
}

#new-task-input::placeholder {
    color: var(--dark);
}

#new-task-input:hover {
    transform: scale(1.03);
}

#new-task-submit {
    font-size: 20px;
    font-weight: 1000;
    color: var(--pink);
    background-image: linear-gradient(to right , var(--pink), var(--purple));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

#new-task-submit:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.tasks-to-do {
    font-size: 28px;
    padding-top: 30px;
    margin-bottom: 5px;
    font-weight: 1000;
    color: var(--yellow1);
    background-image: linear-gradient(to right , var(--yellow1), var(--yellow2));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tasks-done {
    font-size: 21px;
    padding-top: 30px;
    margin-bottom: 5px;
    font-weight: 1000;
    color: var(--green1);
    background-image: linear-gradient(to right , var(--green1), var(--green2));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

todo {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

done {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
    transform: scale(1.2);
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: var(--red);
}

.task .actions .finished {
	background-image: linear-gradient(to right, var(--green1), var(--green2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}